@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Roboto+Slab:wght@500&display=swap');

.page {
    height: 1100%;
    width: 100%;
   
}
.img {

    height: 100%;
    width: 100%;
    position: relative;
}
.text h1{
    position: absolute;
}
.container3{
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 40px;
    align-items: center;
    float: center;
}
.head{
    font-size:55px ;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-family: 'Roboto Slab', serif;
   
}


.card{
    gap: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}


.contact{
    text-align: center;
    padding: 50px;
    color: black;
    background-color: bisque;
}
.contact12{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}
#contact1{
    display: flex;
}
#contact2{
    display: flex;
}
.contactLogos{
    padding: 20px;
    justify-content: center;
    display: flex;
    gap: 10px;

}
.contactInfo{
    justify-content: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.End{
    padding: 60px;
    gap:90px;
    display: flex;
    justify-content: center;
}
.ContactHead{
    font-family: 'Belanosima', sans-serif;
    font-size: 60px;
}
.logoi{
    display: flex;
    flex-direction: row;
}





@media screen and (max-width: 900px){
    .head{
        font-size: 32px;
    }
}